body{
    background-color: rgb(254, 85, 119);
    color: aliceblue;
    text-align: center;
}

/*Flower*/
.flower{
    cursor: pointer;
    display: block;
    margin: auto;
}

/*Bee on yellow flower*/
.bee{
    cursor: pointer;
    display: block;
    margin: auto;
}
