body{
    background-image: url(https://i.pinimg.com/originals/11/8a/19/118a19c2d3311891c1972ab1af34fe7c.png);
    background-size:cover;
    background-attachment:fixed;
    overflow: auto;
}

/*FAQ button*/
.faqsect a{
  cursor: pointer;
  display: inline;
  position: absolute;
  margin-left: 900px;
  margin-top: 50px;
  background-color: #bd5656;
  text-decoration: none;/*removes underline from link*/
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

/*login/sign up button style*/
  .btn {
    background-color: rgb(241, 138, 127);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 14px;
    border: none;
    outline:none;
    font-family: Georgia;
    right: 0;
    margin-top: -75px;
  }
/*Entire login/signup container to the right*/
  .Login-Signup {
    text-align: right;
    margin-right: 55px;
  }

  /*Drop down is inline with the button*/
  .dropdown {
    position: absolute;
    display: inline-block;
    text-align: center;
  }
  
  /*Content in line*/
  .dropdown-content {
    display:none;/*Hidden until dropdown is clicked on*/
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    font-size: 14px;
    font-family: Georgia;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;/*removes link underline*/
    display: block;
    background-color:rgb(241, 138, 127);
  }
  
  .dropdown-content a:hover {background-color: #ff0000}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .btn:hover, .dropdown:hover .btn {
    background-color: #bd5656;
  }


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(255, 59, 92);
  color: white;
}

.submit{
  background-color: rgb(255, 59, 92);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.submit:hover, .cancelbtn:hover{
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.logandSignfrm {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  font-family: arial;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

/*Creates a zoom effect instead of a drastic popup*/
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*Map and Logo */
  img{
    margin-left:auto;/*Centers*/
    margin-right: auto;/*Centers*/
    margin-top: 40px;/*spacing*/
    display: flex;
    
  }
  /*Logo*/
  .logostarry{
    position: relative;
    display: flex;/*allows for other objects to rest next to it*/
    margin-top: -55px;
    margin-bottom: -90px;
  }